<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <table width="50%" border="1">
        <tr>
            <td>Id</td>
            <td>Ten SanPham</td>
            <td>Category</td>
            <td>Price</td>
            <td>image</td>
        </tr>
        {{# each sanPham}}
        <tr>
            <td>{{_id}}</td>
            <td>{{TenSP}}</td>
             <td>{{Category}}</td>
            <td>{{Price}}</td>
            <td> <img src="/product/photos/{{_id}}" alt="" width="110px"></td>
            <td><a href="/product/edit?id={{_id}}">Update</a></td>
            <td><a href="/product/delete?id={{_id}}">Delete</a></td>
        </tr>  
        {{/each}}
    </table>
   
</body>
</html>